<!-- Test your component in a sample html page. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Sample Component</title>
    <!-- Include your component and other you want to use as script tags with module type -->
    <script type="module" src="../src/component.js"></script>
</head>
<body>
    <h1>Test Todo Item</h1>
    
    <todo-item></todo-item>
    <todo-item></todo-item>
    <todo-item></todo-item>
    <todo-item></todo-item>
</body>

</html>