<style>
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    .list-item{
        border: green solid 2px;
        padding: 2px;
    }

    ul, li{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>

<div>
    <h2><slot></slot></h2>
    <ul class="container">
        <li class="list-item"><my-component>A</my-component></li>
        <li class="list-item"><my-component>B</my-component></li>
        <li class="list-item"><my-component>C</my-component></li>
    </ul>
</div>
