.content__reset-info {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.content__right-side {
  flex-basis: 48%;
  display: flex;
}

.right-side__img {
  margin-top: auto;
  margin-bottom: auto;
}

.content__forget-password {
  width: 100%;
  text-align: left;
  text-decoration: underline;
  font-size: 0.9rem;
}