#items{
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #696767;
    width: 100%;
}

#items li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #696767;
}

#items li>todo-item{
    width: 100%;
    height: 100%;
}