<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Sample Component</title>
    <script type="module" src="../runtime/component.js"></script>
</head>
<body>
    <h1>Test Sample Component</h1>
    <my-component>Hello
        <span slot="label-1">First</span>
        <span slot="label-2">Second</span>
        <span slot="label-3">Third</span>
    </my-component>
    <my-component>Good Bye</my-component>
</body>
</html>