<!-- Test your component in a sample html page. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Sample Component</title>
    <!-- Include your component and other you want to use as script tags with module type -->
    <script type="module" src="../src/component.js"></script>
</head>
<body>
    <h1>Test My Component</h1>
    <my-component>Hello</my-component>
    <my-component>Good Bye</my-component>
    <parent-component></parent-component>
</body>

</html>